body{
	-moz-background-size: cover;
	background-color: #ddeeff;
	font-family: 'Amatic SC', bold;
	}

.roboto-Font{
	font-family: 'Montserrat', serif;
}


ul, li, h2, input, div{
	margin:0vw;
	padding:0vw;
}

   /*  NAVIGATION BAR */

	.header-font-styling{
		font-size:2.5vw;
	}


	.header-nav-bar-styling{
		display:flex;
		justify-content:flex-end;
    margin-top: 1.6vw;
    margin-bottom:1.6vw;
    margin-right:4vw;
	}
	
	.header-container{
		margin:0vw 0vw 0vw 0vw;
	}

	.menu-links {
		color:black;
		text-decoration: none;
		display: inline-block;
	}

	a:hover{
		color:white;
	}

	a:active{
		color: white;
	}
	a.disabled {
  		pointer-events: none;
  		cursor: default;
  		opacity: 0.6;
	}

	.page-link{
		display:inline-block;
		min-width: 6vw;
	}


.margin-top-1vw{
  margin-top:1vw;
}

   --------------------------------------------

/*   HOME   */


/*   TITLE SECTION   */

.home-title{
  display:flex;
  justify-content: center;
  font-size:1.1vw;
}


#homeTitle{
  display:flex;
  justify-content: center;
  font-size:1.1vw;
}


/* TO DO LIST */

/* Remove margins and padding from the all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.to-do-list-boxing{
  width: 40%;
  display:inline-block;
  margin-left:.5vw;
}


/* Style the list items */
 .to-do-li-element {
  cursor: pointer;
  position: relative;
  margin-top:.5vw;
  padding: .6vw 1.2vw .6vw 1.2vw;
  background: #cae2f9;
  border-radius:30px;
  font-size: .7vw;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Darker background-color on hover */
.to-do-li-element :hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.to-do-li-element.checked {
  background: #acc6e0;
  color: #fff;
  text-decoration: line-through;
  border-radius: 30px;
}

/* Style the header */
.to-do-title {
  color: white;
  text-align: center;
  margin-bottom:10px;
  font-size:1.3vw;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.input-to-do{
  border: none;
  border-radius: 30px;
  padding: .6vw;
  font-size: .7vw;
  width: 100%;
}

.to-do-ul{
  list-style-type:none;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: .6vw .8vw .6vw .8vw;
  border-radius:30px;
}

.close:hover {
  background-color: #567089;
  color: white;
  opacity:.6;
}


/* Style the "Add" button */
.addBtn {
 display:none;
}

-----------------------------


