body{
	-moz-background-size: cover;
	background-color: #ddeeff;
	font-family: 'Amatic SC', bold;
	}

.roboto-Font{
	font-family: 'Montserrat', serif;
}


ul, li, h2, input {
	margin:0px;
	padding:0px;
}

	.header-font-styling{
		font-size:45px;
		color:white;
	}

	.header-nav-bar-styling{
		display:flex;
		justify-content:flex-end;
	}
	
	.header-container{
		margin:24px 24px 0px 0px;
	}

	.menu-links {
		color:black;
		text-decoration: none;
		display: inline-block;
	}

	a:hover{
		color:white;
	}

	a:active{
		border-bottom: 1px solid white;
		color: white;
	}
	a.disabled {
  		pointer-events: none;
  		cursor: default;
  		opacity: 0.6;
	}

	.page-link{
		display:inline-block;
		min-width: 100px;
	}


.margin-top-12px{
  margin-top:12px;
}

   --------------------------------------------

/* HOME TO DO LIST */

/* Remove margins and padding from the all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.to-do-list-boxing{
  width: 40%;
  display:grid;
}


/* Style the list items */
 .to-do-li-element {
  cursor: pointer;
  position: relative;
  margin-top:5px;
  padding: 10px 20px 10px 20px;
  background: #cae2f9;
  border-radius:30px;
  font-size: 12px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Darker background-color on hover */
.to-do-li-element :hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.to-do-li-element.checked {
  background: #acc6e0;
  color: #fff;
  text-decoration: line-through;
  border-radius: 30px;
}

/* Style the header */
.to-do-title {
  color: white;
  text-align: center;
  margin-bottom:10px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.input-to-do{
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 12px;
}

.to-do-ul{
  list-style-type:none;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 14px 10px 14px;
  border-radius:30px;
}

.close:hover {
  background-color: #567089;
  color: white;
  opacity:.6;
}



/* Style the "Add" button */
.addBtn {
 display:none;
}

-----------------------------


